Sign In


- if flash[:errors] 
	= flash[:errors]

= simple_form_for :session, :url => sessions_path do |f|
	=f.input :email, required: false
	=f.input :password, required: false
	=f.submit 'Sign in'

	