!!!
%html
	%head
		%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
	%body
		%h1
			Welcome to collab.do
		%p
			You have a potential collaber!

			His message: 


			%br/

			= @message
		