/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap_and_overrides
 *= require bootstrap-datetimepicker
 *= require bootstrap
 *= require modern-business
 *= require fontawesome/font-awesome

 */

 nav ul {
 	list-style-type: none;
 	margin: 0;
 	padding-top: 10px; 
 	li {
 		display: inline;
 		margin-right: 20px;
 	}
 	li:last-child {
 		margin-right: 0;
 	}

 }


.orange {
	color: #FF8000

}

.lime {
	color: #CCCC52
}

.green {
	color: #8FB359
}

.navy {
	color: #192B33
}
.text_gray {
	color: #7e7e7e
}

.outline_gray {
	color: #eeeeee
}

.outline_green {
	color: #bbd19b
}

.project_card {
	border-style: solid;
	border-color: #eeeeee;
	margin-bottom: 20px;
}

.project_card:hover {
	border-color: #bbd19b
}


.project_card_image{
	padding: 5px;

}

.project_card_descrip {
	color: #7e7e7e;
	padding-bottom: 10px;

}

.project_card_stats {
	background-color: #eeeeee;	
	width: 100%;
	color: #0b1902;
	overflow: hidden;
}

.footer {
	background-color: #192B33;
	color: #7e7e7e;
	margin: 0

}