     
.section-colored.text-center
  .container
    .row
      .col-lg-12
        %h2 Zinger!! Optimal group of 3 to 4 people
        %p More of that curated, bizniz stuff. Happy feelings. Rainbows. Zebras eating grape popsicles. Boyfriend actually picking up calls...
        %hr/