
.section
  .container
    .row
      .col-lg-12.text-left
        %h4.green How it works
        %hr/

      .col-lg-4.col-md-4
        %h3.orange 
          %i.icon-comments-alt 
          Collab
        %p.navy
          rather than just meet up. Use those precious weekend hours to make ideas happen.   
      .col-lg-4.col-md-4
        %h3.lime
          %i.icon-lightbulb
          Create
        %p.navy
          the projects on your 'tickler' list that you've never gotten around to. 
          / = succeed "!" do
          /   %a{href: "http://getbootstrap.com/customize/"} the Bootstrap customizer
      .col-lg-4.col-md-4
        %h3.green
          %i.icon-heart-empty
          Coexist
        %p.navy
          with talented people who complement your skills! Who knows, you might meet a cofounder or two. 
