.section
  .container
    .row
      .col-lg-4.col-md-4
        %h3
          %i.icon-ok-circle
          Bootstrap 3 Built
        %p
          The 'Modern Business' website template by
          %a{href: "http://startbootstrap.com"} Start Bootstrap
          is built with
          = succeed "." do
            %a{href: "http://getbootstrap.com"} Bootstrap 3
      .col-lg-4.col-md-4
        %h3
          %i.icon-pencil
          Ready to Style & Edit
        %p
          Your ready to go with this pre-built page structure, now all you need to do is add your own custom stylings! You can see some free themes over at
          = succeed "," do
            %a{href: "http://bootswatch.com"} Bootswatch
          = succeed "!" do
            %a{href: "http://getbootstrap.com/customize/"} the Bootstrap customizer
      .col-lg-4.col-md-4
        %h3
          %i.icon-folder-open-alt
          Many Page Options
        %p This template features many common pages that you might see on a business website. Pages include: about, contact, portfolio variations, blog, pricing, FAQ, 404, services, and general multi-purpose pages.
.section-colored.text-center
  .container
    .row
      .col-lg-12
        %h2 Modern Business: A Clean & Simple Full Website Template by Start Bootstrap
        %p A complete website design featuring various single page templates from Start Bootstraps library of free HTML starter templates.
        %hr/