.section
  .container
    .row
      .col-lg-4.col-md-4
        %h3
          %i.icon-comments-alt
          Collab
        %p
          rather than just meeting up. Use those precious weekend hours to make ideas happen.   
      .col-lg-4.col-md-4
        %h3
          %i.icon-lightbulb
          Create
        %p
          the projects on your 'tickler' list that you've never gotten around to. Collab sessions are restricted to just a few hours. Think minimally viable products and deployments!
          / = succeed "!" do
          /   %a{href: "http://getbootstrap.com/customize/"} the Bootstrap customizer
      .col-lg-4.col-md-4
        %h3
          %i.icon-heart-empty
          Coexist
        %p 
          with the larger community and meet talented people who complement your skills! Who knows, you might meet a __ or two. 
.section-colored.text-center
  .container
    .row
      .col-lg-12
        %h2 Zinger!! Optimal group of 3 to 4 people
        %p More of that curated, bizniz stuff. Happy feelings. Rainbows. Zebras eating grape popsicles. Boyfriend actually picking up calls...
        %hr/