.div
.container
	.row.well
		.col-lg-8.col-md-8
			%h2 A propulsion platform for ideas
			%h4 What will you collaborate on?
		.col-lg-4.col-md-4
			%a.btn.btn-lg.btn-primary.pull-right{href: new_user_registration_path} Get Started!