.container
	.row.well
		.col-lg-8.col-md-8
			%h4 'Collab.do' is a open, more words here. great things!!
			%p Some education snippet here of how they can get information or get involved.
		.col-lg-4.col-md-4
			%a.btn.btn-lg.btn-primary.pull-right{href: new_user_registration_path} Get Started!