.container
  .row
    .col-lg-12
      %h1.page-header
        About
        %small Nice to meet you!
      %ol.breadcrumb
        %li
          %a{href: "/"} Home
        %li.active About
  .row
    .col-md-6
      %img.img-responsive{src: "http://placehold.it/750x450"}/
    .col-md-6
      %h2 Welcome to 'Collab.Do'
      %p Collab.do is a curated community of makers, developers, and designers
      %p Collab sessions are restricted to just a few hours. Think minimally viable products and deployments!.     res nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
  
  / Team Member Profiles
  .row
    .col-lg-12
      %h2.page-header Our Team
    .col-sm-4
      %img.img-responsive{src: "images/Chuck_Norris.jpg"}/
      %h3
        Nicole Zhu
        %small Novice Web Developer
      %p Nicole is a masters student in CS who is building Collab.Do to learn about web development!
      %ul.list-unstyled.list-inline.list-social-icons
        %li.tooltip-social.facebook-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", href: "#facebook-profile", title: "Facebook"}
            %i.icon-facebook-sign.icon-2x
        %li.tooltip-social.linkedin-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", href: "#linkedin-profile", title: "LinkedIn"}
            %i.icon-linkedin-sign.icon-2x
        %li.tooltip-social.twitter-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", href: "#twitter-profile", title: "Twitter"}
            %i.icon-twitter-sign.icon-2x
        %li.tooltip-social.google-plus-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", href: "#google-plus-profile", title: "Google+"}
            %i.icon-google-plus-sign.icon-2x
    .col-sm-4
      %img.img-responsive{src: "images/Chuck_Norris.jpg"}/
      %h3
        Gabe H
        %small Senior Software Engineer 
      %p Gabe is a senior software engineer mentoring Nicole through the process!
      %ul.list-unstyled.list-inline.list-social-icons
        %li.tooltip-social.facebook-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", href: "#facebook-profile", title: "Facebook"}
            %i.icon-facebook-sign.icon-2x
        %li.tooltip-social.linkedin-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", href: "#linkedin-profile", title: "LinkedIn"}
            %i.icon-linkedin-sign.icon-2x
        %li.tooltip-social.twitter-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", href: "#twitter-profile", title: "Twitter"}
            %i.icon-twitter-sign.icon-2x
        %li.tooltip-social.google-plus-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", href: "#google-plus-profile", title: "Google+"}
            %i.icon-google-plus-sign.icon-2x
    .col-sm-4
      %img.img-responsive{src: "images/Chuck_Norris.jpg"}/
      %h3
        John Smith
        %small Invisible Friend
      %p John Smith is Nicole's invisible friend!
      %ul.list-unstyled.list-inline.list-social-icons
        %li.tooltip-social.facebook-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", href: "#facebook-profile", title: "Facebook"}
            %i.icon-facebook-sign.icon-2x
        %li.tooltip-social.linkedin-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", href: "#linkedin-profile", title: "LinkedIn"}
            %i.icon-linkedin-sign.icon-2x
        %li.tooltip-social.twitter-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", href: "#twitter-profile", title: "Twitter"}
            %i.icon-twitter-sign.icon-2x
        %li.tooltip-social.google-plus-link
          %a{"data-placement" => "top", "data-toggle" => "tooltip", href: "#google-plus-profile", title: "Google+"}
            %i.icon-google-plus-sign.icon-2x
    
  / Our Customers
  .row
    .col-lg-12
      %h2.page-header Our Featured Collabers
    / ideally there are 6
    -@featured_users.each do |u|
      .col-md-2.col-sm-4.col-xs-6
        -if u.avatar.url
          %img.img-responsive.img-customer

          = image_tag u.avatar.thumb.url
        -else 
          %img.img-responsive.img-customer{src: "images/600full.jpg"}/
        =u.name
