/ = render 'signup_reminder'
.container
	.row
		.page_sub_header.green Find collaborators to turn ideas into reality


= render 'layouts/feature_projects'

/ = render 'public_description'
/ / render 'carousel'
/ = render 'footer'

