!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %title Modern Business - Start Bootstrap Template
    / Bootstrap core CSS
    %link{href: "css/bootstrap.css", rel: "stylesheet"}/
    / Add custom CSS here
    %link{href: "css/modern-business.css", rel: "stylesheet"}/
    %link{href: "font-awesome/css/font-awesome.min.css", rel: "stylesheet"}/
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          / You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it)
          %a.navbar-brand{href: "index.html"} Modern Business
        / Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: "about.html"} About
            %li
              %a{href: "services.html"} Services
            %li
              %a{href: "contact.php"} Contact
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                Portfolio
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{href: "portfolio-1-col.html"} 1 Column Portfolio
                %li
                  %a{href: "portfolio-2-col.html"} 2 Column Portfolio
                %li
                  %a{href: "portfolio-3-col.html"} 3 Column Portfolio
                %li
                  %a{href: "portfolio-4-col.html"} 4 Column Portfolio
                %li
                  %a{href: "portfolio-item.html"} Single Portfolio Item
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                Blog
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{href: "blog-home-1.html"} Blog Home 1
                %li
                  %a{href: "blog-home-2.html"} Blog Home 2
                %li
                  %a{href: "blog-post.html"} Blog Post
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                Other Pages
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{href: "full-width.html"} Full Width Page
                %li
                  %a{href: "sidebar.html"} Sidebar Page
                %li
                  %a{href: "faq.html"} FAQ
                %li
                  %a{href: "404.html"} 404
                %li
                  %a{href: "pricing.html"} Pricing Table
        / /.navbar-collapse
      / /.container

      
    #myCarousel.carousel.slide
      / Indicators
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
      / Wrapper for slides
      .carousel-inner
        .item.active
          .fill{style: "background-image:url('http://placehold.it/1900x1080&text=Slide One');"}
          .carousel-caption
            %h1 Modern Business - A Bootstrap 3 Template
        .item
          .fill{style: "background-image:url('http://placehold.it/1900x1080&text=Slide Two');"}
          .carousel-caption
            %h1 Ready to Style & Add Content
        .item
          .fill{style: "background-image:url('http://placehold.it/1900x1080&text=Slide Three');"}
          .carousel-caption
            %h1
              Additional Layout Options at
              %a{href: "http://startbootstrap.com"} http://startbootstrap.com
      / Controls
      %a.left.carousel-control{"data-slide" => "prev", href: "#myCarousel"}
        %span.icon-prev
      %a.right.carousel-control{"data-slide" => "next", href: "#myCarousel"}
        %span.icon-next




    .section
      .container
        .row
          .col-lg-4.col-md-4
            %h3
              %i.icon-ok-circle
              Bootstrap 3 Built
            %p
              The 'Modern Business' website template by
              %a{href: "http://startbootstrap.com"} Start Bootstrap
              is built with
              = succeed "." do
                %a{href: "http://getbootstrap.com"} Bootstrap 3
          .col-lg-4.col-md-4
            %h3
              %i.icon-pencil
              Ready to Style & Edit
            %p
              Your ready to go with this pre-built page structure, now all you need to do is add your own custom stylings! You can see some free themes over at
              = succeed "," do
                %a{href: "http://bootswatch.com"} Bootswatch
              = succeed "!" do
                %a{href: "http://getbootstrap.com/customize/"} the Bootstrap customizer
          .col-lg-4.col-md-4
            %h3
              %i.icon-folder-open-alt
              Many Page Options
            %p This template features many common pages that you might see on a business website. Pages include: about, contact, portfolio variations, blog, pricing, FAQ, 404, services, and general multi-purpose pages.
        / /.row
      / /.container
    / /.section
    .section-colored.text-center
      .container
        .row
          .col-lg-12
            %h2 Modern Business: A Clean & Simple Full Website Template by Start Bootstrap
            %p A complete website design featuring various single page templates from Start Bootstraps library of free HTML starter templates.
            %hr/
        / /.row
      / /.container
    / /.section-colored
    .section
      .container
        .row
          .col-lg-12.text-center
            %h2 Display Some Work on the Home Page Portfolio
            %hr/
          .col-lg-4.col-md-4.col-sm-6
            %a{href: "portfolio-item.html"}
              %img.img-responsive.img-home-portfolio{src: "http://placehold.it/700x450"}/
          .col-lg-4.col-md-4.col-sm-6
            %a{href: "portfolio-item.html"}
              %img.img-responsive.img-home-portfolio{src: "http://placehold.it/700x450"}/
          .col-lg-4.col-md-4.col-sm-6
            %a{href: "portfolio-item.html"}
              %img.img-responsive.img-home-portfolio{src: "http://placehold.it/700x450"}/
          .col-lg-4.col-md-4.col-sm-6
            %a{href: "portfolio-item.html"}
              %img.img-responsive.img-home-portfolio{src: "http://placehold.it/700x450"}/
          .col-lg-4.col-md-4.col-sm-6
            %a{href: "portfolio-item.html"}
              %img.img-responsive.img-home-portfolio{src: "http://placehold.it/700x450"}/
          .col-lg-4.col-md-4.col-sm-6
            %a{href: "portfolio-item.html"}
              %img.img-responsive.img-home-portfolio{src: "http://placehold.it/700x450"}/
        / /.row
      / /.container
    / /.section
    .section-colored
      .container
        .row
          .col-lg-6.col-md-6.col-sm-6
            %h2 Modern Business Features Include:
            %ul
              %li Bootstrap 3 Framework
              %li Mobile Responsive Design
              %li Predefined File Paths
              %li Working PHP Contact Page
              %li Minimal Custom CSS Styles
              %li Unstyled: Add Your Own Style and Content!
              %li Font-Awesome fonts come pre-installed!
              %li
                100%
                %strong Free
                to Use
              %li Open Source: Use for any project, private or commercial!
          .col-lg-6.col-md-6.col-sm-6
            %img.img-responsive{src: "http://placehold.it/700x450/ffffff/cccccc"}/
        / /.row
      / /.container
    / /.section-colored
    .section
      .container
        .row
          .col-lg-6.col-md-6.col-sm-6
            %img.img-responsive{src: "http://placehold.it/700x450"}/
          .col-lg-6.col-md-6.col-sm-6
            %h2 Modern Business Features Include:
            %ul
              %li Bootstrap 3 Framework
              %li Mobile Responsive Design
              %li Predefined File Paths
              %li Working PHP Contact Page
              %li Minimal Custom CSS Styles
              %li Unstyled: Add Your Own Style and Content!
              %li Font-Awesome fonts come pre-installed!
              %li
                100%
                %strong Free
                to Use
              %li Open Source: Use for any project, private or commercial!
        / /.row
      / /.container
    / /.section
    .container
      .row.well
        .col-lg-8.col-md-8
          %h4 'Modern Business' is a ready-to-use, Bootstrap 3 updated, multi-purpose HTML theme!
          %p For more templates and more page options that you can integrate into this website template, visit Start Bootstrap!
        .col-lg-4.col-md-4
          %a.btn.btn-lg.btn-primary.pull-right{href: "http://startbootstrap.com"} See More Templates!
      / /.row
    / /.container
    .container
      %hr/
      %footer
        .row
          .col-lg-12
            %p Copyright © Company 2013
    / /.container
    / Bootstrap core JavaScript
    / Placed at the end of the document so the pages load faster
    %script{src: "js/jquery.js"}
    %script{src: "js/bootstrap.js"}
    %script{src: "js/modern-business.js"}