%nav.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      / You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it)
      %a.navbar-brand{href: '/'} Collab.Do
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'About', about_path
        / %li
        /   %a{href: "services.html"} Services
        / %li
        /   %a{href: "contact.php"} Contact

        - if user_signed_in?    
          %li
            %a{href: root_path} Home
          %li= link_to 'Sign Out', destroy_user_session_path, :method => :delete 
          %li
            %a{href: edit_user_registration_path} Edit Account
          %li
            %a{href: profile_path(current_user)} Profile
        - else
          %li
            %a{href: new_user_registration_path} Sign Up
          %li
            %a{href: new_user_session_path} Log In

        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}

            = current_user ? current_user.name : 'user'
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href: profile_path(current_user)} 1 Profile
            %li
              %a{href: edit_user_registration_path} 2 Edit Account
            %li
              %a{href: destroy_user_session_path} 3 Sign Out
            %li
              %a{href: "portfolio-item.html"} Single Portfolio Item
        / %li.dropdown
        /   %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
        /     Blog
        /     %b.caret
        /   %ul.dropdown-menu
        /     %li
        /       %a{href: "blog-home-1.html"} Blog Home 1
        /     %li
        /       %a{href: "blog-home-2.html"} Blog Home 2
        /     %li
        /       %a{href: "blog-post.html"} Blog Post
        / %li.dropdown
        /   %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
        /     Other Pages
        /     %b.caret
        /   %ul.dropdown-menu
        /     %li
        /       %a{href: "full-width.html"} Full Width Page
        /     %li
        /       %a{href: "sidebar.html"} Sidebar Page
        /     %li
        /       %a{href: "faq.html"} FAQ
        /     %li
        /       %a{href: "404.html"} 404
        /     %li
        /       %a{href: "pricing.html"} Pricing Table
    / /.navbar-collapse
  / /.container