%nav.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      / You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it)
      %a.navbar-brand{href: '/'} Collab.Do
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'About', about_path
        / %li
        /   %a{href: "services.html"} Services
        / %li
        /   %a{href: "contact.php"} Contact
        - if user_signed_in?    
          %li
            %a{href: user_home_path} Home

          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}

              = current_user.name
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: profile_path(current_user)} Profile
              %li
                %a{href: edit_user_registration_path} Edit Account
              %li= link_to 'Sign Out', destroy_user_session_path, :method => :delete 
        - else
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              = 'Sign up | Login'
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: new_user_registration_path} Sign Up
              %li
                %a{href: new_user_session_path} Log In